/* button.module.css */
.button {
  background-color: #1c389d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #162c7a;
}

.button:active {
  transform: scale(0.97);
}
