.navbar{
    background-color: #d5bcbc;
    overflow: hidden;
    padding: 14px 20px;
    display: flex;
}

.left{
    flex: 1;
    display: flex;
    align-items: center;
    gap : 15px;
    font-size: 0.75rem;
}

.right{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.75rem;
}